*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: #78bed889;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 5px #0f76ec;
    border: 3px solid #f1f1f1;

    & h1 {
        text-align: center;
        color: #0f76ec;
        text-shadow: 5px 5px 10px #fff;
    }

    & .container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    
        & input::placeholder {
            color: #fff;
            font-weight: 600;
        }

        & input {
            border-radius: 10px;
            height: 32px;
            background: transparent;
            border: 1px solid #f1f1f1;
            outline: none;
            padding-left: 5px;
            width: 100%;
        }
    }

    & .container-restante {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & input::placeholder {
            color: #fff;
            font-weight: 600;
        }

        & input {
            border-radius: 10px;
            height: 32px;
            background: transparent;
            border: 1px solid #f1f1f1;
            outline: none;
            padding-left: 5px;
            width: 100%;
        }
    }



    & .container-escolhas {
        margin-top: 5%;
        margin-bottom: 5%;

        & button {
            width: 100%;
            border-radius: 5px;
            height: 32px;
            background: #0f76ec;
            border: 1px solid #f1f1f1;
            color: #fff;
            font-weight: 600;
        }
    }

    & #resultado {
        text-align: center;
    }
}